.my-background {
  height: 100vh;
  width: 100vw;
  background-image: url('C:\Users\RICARDO CALDERON\Desktop\CARSIAUTOS\NodeReactApp\client\public\logo.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: cover; 
}