.my-background {
  height: 100vh;
  width: 100vw;
  background-image: url('/public/logo.png'), url('/public/logo2.png'); /* Dos imágenes */
  background-repeat: no-repeat, no-repeat; 
  background-position: left center, right center; /* Izquierda y derecha */
  background-size: 50% auto, 50% auto; /* Cada imagen ocupa la mitad del ancho */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .my-background {
    background-image: url('/public/logo.png'); /* Solo una imagen en móvil */
    background-position: center center; /* Centrada */
    background-size: contain; /* Ajuste sin recorte */
  }
}
