;
.my-background {
  height: 100vh;
  width: 100vw;
  background-image: url('/public/logo2.png'); /* Accede directamente desde la raíz */
  background-repeat: no-repeat; 
  background-position: top center, bottom center;
  background-size: cover; 
}