.product-list-container {
  display: flex;
  justify-content: flex-start; /* Alinea los productos a la izquierda */
  padding: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Muestra varias columnas */
  gap: 1rem;
  width: 50%; /* Limita el ancho para que no ocupe toda la pantalla */
  max-width: 600px; /* Máximo ancho para que se vea bien */
}

.empty-message {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background: red;
  padding: 1rem;
  border-radius: 5px;
}
